.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.auth-forms {
  width: 100%;
  max-width: 600px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column; 
}

h2 {
  text-align: center;
  margin: 20px;
}

.divider {
  height: 2px;
  background-color: #ccc;
  margin-bottom: 20px;
  width: 100%;
}

p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.input-field {
  width: 48%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  margin-right: 4%; 
}

.input-field:last-child {
  margin-right: 0;
}

.input-wrapper i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.login-button {
  width: 100%;
  background: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background: #0056b3;
}


.forgot-pass-link {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;
}

.forgot-pass-link:hover {
  text-decoration: underline;
}

.signup-text {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.auth-form {
  padding: 20px;
}


.auth-container img {
  width:50%;
  height: auto;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.auth-container p {
  font-size: 1.2rem; 
  color: #333; 
  text-align: center;
  margin-top: 10px;
}
