
:root {
  --text-color-light: #333;
  --text-color-dark: #fff;
}

  h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .auth-title{
    align-items: center;
    justify-self: center;
    padding-bottom: 3px;
  }
  
  body.light-mode label {
    color: var(--text-color-light);
  }

  body.dark-mode label {
    color: var(--text-color-dark);
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 30%;
  }
  
  button {
    width: 30%;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  /*Style for Cancel Ð¸ Update */
  button[type="submit"] {
    background-color: #28a745;
  }
  
  button[type="button"] {
    background-color: #ae1d2b;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
  }

  .CountrySelect {
    padding: 10px;
    margin-bottom: 15px;
  }

  @media (max-width: 768px) {
    .container {
      padding: 15px;
      width: 100%;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    input,
    button {
      font-size: 0.9rem;
    }
  }
  
