.nav_wrapper {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
  position: relative;
  z-index: 70;
  background-color: antiquewhite;
}

.nav_wrapper a span{
  color: #cb5c00;
}
.logo a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.logo  :hover {
  color: white;
  cursor: pointer;
}


.navList {
  display: flex;
  gap: 20px;
  list-style: none;
  
}

.navList li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.navList li a:hover{
  transform: scale(0.95);
  color: #cb5c00;
  cursor: pointer;
}



.nav-button12 {
  height: 38px;
  width: 130px;
  border: none;
  justify-content: center;
  background-color: #cb5c00;
  font-family: 'Poppins';
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 3px #ffffff49, inset 3px 3px 10px #ffffff39;
  transition: 1s;
  cursor: pointer;
  
}

.nav-button:hover {
  box-shadow: 2px 0px 3px #69696949, inset 3px 3px 10px #ffffff39;
  transform: scale(0.95);
}



@media screen and (max-width: 1200px) {
  .navList {
    display: none;
  }

  .Nav_btns {
    display: block;
  }

  .showNav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    padding: 20px;
  }

  .navList li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--text);
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
  }

  .navList li a:hover {
    transform: scale(0.95);
    color: #cb5c00;
  }
}

.border {
  border: 2px solid red;
}
