@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;

  font-family: "playfair";
}
.nav-button {
  height: 38px;
  width: 130px;
  border: none;
  justify-content: center;
  background-color: #cb5c00;
  font-family: 'Poppins';
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 3px #ffffff49, inset 3px 3px 10px #ffffff39;
  transition: 1s;
  cursor: pointer;
}

.nav-button:hover {
  box-shadow: 2px 0px 3px #69696949, inset 3px 3px 10px #ffffff39;
  transform: scale(0.95);
}


.nav-button1 {
  height: 38px;
  width: 830px;
  border: none;
  justify-content: space-between;
  background-color: #cb5c00;
  font-family: 'Poppins';
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 3px #ffffff49, inset 3px 3px 10px #ffffff39;
  transition: 1s;
  cursor: pointer;
}



.divider {
  border-bottom: 1px solid    ;
  margin: 3rem 0;
  width: calc(100% + var(--container-padding) + var(--container-padding));
  margin-left: calc(var(--container-padding) * -1);
}
