





/* Container for the profile page */
.user-profile {
  max-width: 600px;
  margin: 20px auto; 
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 50%; 
  background-color: antiquewhite;
  color: white;
  margin-top: 200px;
justify-content: space-around;
margin-top: 1cm;

  
}


h2 {
  margin-top: 20px;
  color: #333;
}

/* Container for the user information */
.user-info {
  margin: 20px 0;
  font-size: 18px;
  justify-content: space-around;

}

.user-info div {
  margin-bottom: 10px;
  border: 1px solid #cb5c00;
}





.loading,
.error {
  text-align: center;
  font-size: 18px;
  color: red;
}


.user-info-table {
  width: 100%;
  background-color:rgb(84, 83, 83) ;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-info-table td {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 9);
  border-bottom: 1px solid #ddd;
}

.user-info-table td:first-child {
  text-align: right;
  font-weight: bold;
  width: 30%;
}

.user-info-table td:last-child {
  text-align: left;
  width: 70%;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 10px; 
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  
  margin-left: -55px;
}

.nav-button {
  height: 38px;
  width: 830px;
  border: none;
  margin: 5px;
  justify-content: center;
  background-color: #cb5c00;
  font-family: 'Poppins';
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #ffffff49, inset 3px 3px 10px #ffffff39;
  transition: 0.5s;
  cursor: pointer;
}



/* Additional styling for confirm and loading states */
.error,
.loading {
  color: red;
  text-align: center;
  height: 45px;
  border: none;
  background-color: #cb5c00;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-size: 16px; 
  font-weight: 600;
  color: white;
  border-radius: 30px;
  box-shadow: 2px 2px 3px #ffffff49, inset 3px 3px 10px #ffffff39;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; 
}

.nav-button:hover,
.link-button:hover {
  box-shadow: 2px 0px 3px #69696949, inset 3px 3px 10px #ffffff39;
  transform: scale(0.95);
}
