
/* Container for the profile page */
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  background: url('/assets/images/header-bg.jpg') no-repeat center center/cover;
  color: white;
}

/* Navigation bar styling - removed */

/* Header styling */
h2 {
  margin-top: 20px;
  color: #333;
}

/* Container for the user information */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7); 
}

/* Information styling */
.user-info div {
  margin: 10px 0;
}

.user-info strong {
  color: black;
  font-weight: bold;
}



.user-info strong p{
  color: black;
  font-weight: bold;
}



.bottom-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 30px;

  width: 100%;
  max-width: 400px;
 
}

.nav-button{
  height: 38px;
  width: 830px;
  border: none;
  margin: 5px;
  justify-content: center;
  background-color: #cb5c00;
  font-family: 'Poppins';
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #ffffff49, inset 3px 3px 10px #ffffff39;
  transition: 0.5s;
  cursor: pointer;
}



/* Additional styling for confirm and loading states */
.error,
.loading {
  color: red;
  text-align: center;
}

.loading {
  font-size: 18px;
}
