/* sidebar.scss */
.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: #f5f5f5; /* لون خلفية جديد */
  transition: all 0.3s ease-in-out;

  /* لتأثيرات التمرير */
  &:hover {
    background-color: #e6e6e6;
  }

  .top {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6439ff; /* تغيير اللون */
    color: white;

    .logo {
      font-size: 22px;
      font-weight: bold;
      color: white;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 15px;
    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 12px;
        font-weight: bold;
        color: #7451f8; /* لون العنوان */
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background-color: #7451f8; /* تغيير لون الخلفية عند التمرير */
          color: white; /* تغيير النص إلى الأبيض عند التمرير */
        }

        .icon {
          font-size: 20px;
          color: #7451f8;
        }

        span {
          font-size: 14px;
          font-weight: 600;
          color: #333;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 20px;

    .colorOption {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;
      transition: background-color 0.3s;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
      &:nth-child(3) {
        background-color: darkblue;
      }

      &:hover {
        transform: scale(1.1); /* تأثير تكبير عند التمرير */
      }
    }
  }
}
