.All-Parts {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: auto 1fr auto;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: white;
}


.part-1 {
    grid-column: 1 / -1;
    background-color: lightgray;
}

.part-2 {
    background-color: white;
    grid-column: span 1;
}

.part-3 {
    grid-column: 2 / 3;
    grid-row: 2;
    background-color: white;
    padding: 10px;
  }


.part-4 {
    grid-column: 1 / -1; 
    background-color: black;
    color: white;
    height: 100%}