.HeaderWrapper {
    height: 80vh !important;
    align-items: center;
    justify-content: center !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.Container form {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.Container h1 {
    font-size: 58px;
    line-height: 65px;
    font-family: 'jost';
    color: #fff;
    text-align: center;
    margin: 0;
}

.Container small {
    color: #fff;
    font-family: 'jost';
    margin-bottom: 20px;
    text-align: center;
}

.Container form .inputWrapper:nth-child(2) {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.Container form .inputWrapper label {
    font-size: 13px;
    color: #666;
}

.Container form .inputWrapper input {
    height: 35px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 8px;
    padding: 0 10px;
    color: #333;
}

.Container button {
    background-color: rgb(53, 84, 209);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 25px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    font-size: 16px;
}

.Container button:hover {
    background-color: #1e1e1e;
}

@media screen and (max-width: 900px) {
    .Container {
        width: 100%;
    }

    .Container h1 {
        font-size: 38px;
        line-height: 45px;
    }

    .Container form {
        flex-direction: column;
        gap: 15px;
        border-radius: 12px;
    }

    .Container form .inputWrapper {
        width: 100%;
        border: none !important;
        padding: 0;
    }

    .Container button {
        width: 100%;
        justify-content: center;
    }
}
