.header_wrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.swiper {
  height: 100vh !important;
  width: 100% !important;
}

.Header_slide {
  height: 100vh;
  width: 100%;
  background-image: url(/assets/images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slide2 {
  background-image: url(/assets/images/2.jpg);
}

.slide3 {
  background-image: url(/assets/images/3.jpg);
}

.Header_slide .content {
  position: absolute;
  bottom: 20%;
  left: 50px;
  z-index: 2;
  flex-direction: column;
  gap: 18px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 3px;
}

.Header_slide .content small {
  color: #fff;
  font-size: 16px;
}
.Header_slide .content h2 {
  color: #fff;
  font-size: 36px;
}

.Header_slide .content h2 span {
  color: #cb5c00;

}


@media screen and (max-width: 768px) {
  .Header_slide .content {
    left: 20px; /* Reduce the left padding */
    bottom: 10%; /* Move the content higher up */
    text-align: center; /* Center the text */
  }

  .Header_slide .content h2 {
    font-size: 24px; /* Smaller font size for smaller screens */
  }

  .Header_slide .content small {
    font-size: 14px; /* Smaller font size for small screens */
  }
}